<div class="d-flex container">

  <div class="titre w-50">
    <h1>Modifier les informations de votre célébrité</h1>
    <p>Améliorez votre visibilité sur le site Rbnb Triple AAA en completant la fiche de votre célébrité</p>

    <div data-controller="controller-toggle">
      <button data-action="click->controller-toggle#update" class="btn btn-outline-primary">Mettre à jour le profil de votre célébrité</button>
        <div data-controller-toggle-target="updateCelebrity" class="d-none">
          <div class="w-50">
            <%= simple_form_for @celebrity do |f| %>
              <%= f.input :name %>
              <%= f.input :price %>
              <%= f.input :rating %>
              <%# <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit %>
            <% end %>
          </div>
        </div>
    </div>
  </div>

  <div class="carte card w-50 h-50 ">
    <% @celebrity.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
  </div>

</div>
