<div class="d-flex container justify-content-between">

  <div class="enonce my-3 py-3">
    <h2>Modifier les informations de votre célébrité</h2>
    <p>Vous pouvez améliorer votre visibilité sur le site Rbnb Triple AAA en completant la fiche de votre célébrité</p>


    <div data-controller="controller-toggle">
      <button data-action="click->controller-toggle#update" class="button-modifier text-center">Mettre à jour le profil de votre célébrité</button>
        <div data-controller-toggle-target="updateCelebrity" class="d-none">
          <div class="formulaire-modifier infos-card rounded-4 p-5">
            <%= simple_form_for @celebrity do |f| %>
              <%= f.input :name, label: "Nom" %>
              <%= f.input :price, label: "Prix" %>
              <%= f.input :address, label: "Adresse" %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
              <%= f.submit "Modifier votre célébrité", class: "button-modifier"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>

  <div class="all-images w-50 h-50 my-3 py-3">
    <% @celebrity.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
  </div>

</div>
