<h1>UPDATE une celebrité</h1>

<h2>un form avec la célébrité et des fields pour modifier</h2>

<%= simple_form_for @celebrity do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :rating %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
