<%# <div class="banniere"><%= image_tag("banniere.jpg", :alt => "banniere", height: "200px", style: "object-fit: cover;" ) %>
<%# </div> %>


<div class="container-body">
  <div class="searchbar"><%= form_with url: celebrities_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "trouver une célébrité"
        %>
      <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


  <div class = "container-cards">

    <% @celebrities.each do |celebrity| %>
      <%= link_to celebrity_path(celebrity) do %>
        <div class="card-celebrity">
          <div class="all-images">
            <% if celebrity.photos.attached? %>
              <%= cl_image_tag celebrity.photos.first.key, crop: :fill %>
            <% end %>
          </div>

          <div class="card-details">
            <div class="card-body">

              <h6 class="card-title"><%= celebrity.name %></h6>

              <p class="card-text"><%= celebrity.price %> €</p>

              <div class="card-star">
                <p>
                  <% if celebrity.reviews.empty? == false %>
                    <%= celebrity.rating %>
                    <i class="fa-solid fa-star"></i>
                    <% else %>
                    Pas d'avis
                  <% end %>

                </p>
              </div>

              <%# <%= link_to "Plus de détails ?", celebrity_path(celebrity) %>
            </div>

          </div>
        </div>
        <% end %>
      <% end %>

  </div>

</div>
