<h1>Mettre votre célébrité sur Rbnb triple AAA </h1>

<h2>Parlez-nous de votre célébrité</h2>

<%= simple_form_for @celebrity do |f| %>
  <%= f.input :name, placeholder: 'Beyonce' %>
  <%= f.input :price, placeholder: '100€' %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
