<div class="container-fluid p-3 bg-white">
  <div class="p-3 mx-auto w-75">
    <div class="title p-3 m-3"><h2>Découvrez <%= @celebrity.name%></h2></div>

    <div class="container-img">

      <% @celebrity.photos.each do |photo| %>
        <div class="p-1">
          <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
        </div>
      <% end %>

    </div>

    <div class="d-flex p-3">
      <div class="infos-card w-50 p-3 m-3 rounded-4">

        <div class="p-3">
          <p>
            <strong>Cette célébrité a une note de</strong>
          </p>
          <p>
            <% if @celebrity.rating %>
              <%= @celebrity.rating %> étoiles
            <% else %>
              Il n'y a pas encore de note.
            <% end %>
          </p>
        </div>

        <div class="p-3">
          <p><strong>Cette célébrité a été mise en vente par</strong> </p>
          <p><%= @celebrity.user.email %></p>
        </div>

        <div class="p-3">
          <p><strong>Cette célébrité se situe vers</strong> </p>
          <p><%= @celebrity.address %></p>
        </div>

        <div class="p-3">
          <p><strong>Par nuit, cela vous coûtera :</strong></p>
          <p><%= @celebrity.price %> €</p>
        </div>

      </div>

      <div class="infos-buttons infos-card w-50 p-3 m-3 rounded-4 ">
        <div class="louer">
          <%= link_to "Louer", celebrity_bookings_path(@celebrity), {:class => "button-louer p-3 m-3"} %>
        </div>

        <div class="w-90">
          <%= link_to "Modifier la célébrité", edit_celebrity_path(@celebrity), {:class => "button-modifier p-3 m-3"} %>
          <%= link_to "Supprimer la célébrité", celebrity_path(@celebrity),  data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer #{@celebrity.name} ?"}, class: 'button-delete p-3 m-3' %>
        </div>

      </div>
    </div>

    <div class="d-flex p-3">
      <div class="infos-card w-50 rounded-4 p-3 m-3 ">
        <ul>
          <% @bookings.each do |booking| %>
            <li class="list-group-item p-1">
              <%= link_to "✏️", edit_booking_path(booking) %>
              <%= booking.date_debut.strftime('%a %d %b %Y') %>///
              <%= booking.date_fin.strftime('%a %d %b %Y') %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="infos-card w-50 rounded-4 p-3 m-3 ">

      <div class="text-center">
      <%= link_to "Ajouter un commentaire", new_celebrity_review_path(@celebrity), {:class => "button-louer p-1 my-3"}%>
      </div>

<ul>
            <% @reviews.each do |review| %>
            <li class="list-group-item my-5">
                  <div class="comments-div">

                    <div class="rating-div border border-bottom">
                      <%= review.rating %> ⭐
                    </div>

                    <div class="text-rating-div border border-bottom">
                      <%= review.comment %>
                    </div>

                    <div class="delete-rating-div border border-bottom">

                      <%= link_to "🗑️", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer votre commentaire ?"} %>
                    </div>

                  </div>
                  </li>
            <% end %>
</ul>

      </div>
    </div>

</div>
</div>
