<h1>ICI DOIT S'AFFICHER UNE CELEBRITE</h1>

<div class="container">
<li><%= @celebrity.name %></li>

<li><%= @celebrity.rating %> étoiles</li>

<li><%= @celebrity.price %> €</li>

<% if @celebrity.photo.attached? %>
<%= cl_image_tag @celebrity.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<button class="btn btn-primary">Louer ?</button>
<%= link_to "Modifier la célébrité", edit_celebrity_path(@celebrity) %>
<%= link_to "Supprimer la célébrité ?", celebrity_path(@celebrity),  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@celebrity.name} ?"}, class: 'text-danger' %>
<%= link_to "Voir les résa de cette célébrité", celebrity_bookings_path(@celebrity) %>
</div>
