<h1>Découvrez <%= @celebrity.name%></h1>

<div class="container">
<li><%= @celebrity.name %></li>

<li><%= @celebrity.rating %> étoiles</li>

<li><%= @celebrity.price %> €</li>

<% if @celebrity.photo.attached? %>
<%= cl_image_tag @celebrity.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<button class="btn btn-primary">Louer ?</button>
<%= link_to "Modifier la célébrité", edit_celebrity_path(@celebrity) %>
<%= link_to "Supprimer la célébrité ?", celebrity_path(@celebrity),  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@celebrity.name} ?"}, class: 'text-danger' %>
<%= link_to "Voir les résa de cette célébrité", celebrity_bookings_path(@celebrity) %>
</div>

<h1>UPDATE un booking</h1>

<h2>un form avec le booking pour le modifier</h2>

<ul>

 <% @bookings.each do |booking| %>
  <li><%= booking.date_debut.year %>-<%= booking.date_debut.month %>-<%= booking.date_debut.day %>
     ---<%= booking.date_fin.year %>-<%= booking.date_fin.month %>-<%= booking.date_fin.day %>
     <%= link_to "Modifier", edit_booking_path(booking)%>
  </li>
 <% end %>
</ul>
