<div class="container-fluid p-3">
  <div class="p-3 mx-auto w-75 card rounded-5">
    <div class="title p-3 m-3"><h2>Découvrez <%= @celebrity.name%></h2></div>

    <div class="container d-flex p-3 m-3 flex-wrap">

      <% @celebrity.photos.each do |photo| %>
        <div class="p-1">
          <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
        </div>
      <% end %>

    </div>

    <div class="container d-flex p-3">

      <div class="w-50 p-3 m-3  border border-5 border-primary-subtle rounded-5">

        <div class="p-3">
          <p>
            <strong>Cette célébrité a une note de</strong>
          </p>
          <p>
            <% if @celebrity.rating %>
              <%= @celebrity.rating %> étoiles
            <% else %>
              Il n'y a pas encore d'avis.
            <% end %>
          </p>
        </div>

        <div class="p-3">
          <p><strong>Cette célébrité a été mise en vente par</strong> </p>
          <p><%= @celebrity.user.email %></p>
        </div>
        <div class="p-3">
          <p><strong>Par nuit, cela vous coûtera :</strong></p>
          <p><%= @celebrity.price %> €</p>
        </div>

      </div>

      <div class="border border-5 border-primary-subtle w-50 p-3 m-3 rounded-5 sticky-top">
        <%= link_to "Louer", celebrity_bookings_path(@celebrity), {:class => "btn btn-primary p-3 m-3"} %>
        <%= link_to "Modifier la célébrité", edit_celebrity_path(@celebrity), {:class => "btn btn-secondary p-3 m-3"} %>
        <%= link_to "Supprimer la célébrité", celebrity_path(@celebrity),  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@celebrity.name} ?"}, class: 'btn btn-danger p-3 m-3' %>
      </div>


  </div>

  <div class="border border-5 border-primary-subtle rounded-5 p-3 m-3 w-50">
    <ul>
      <% @bookings.each do |booking| %>
        <li class="list-group-item p-1">
          <%= link_to "Modifier", edit_booking_path(booking), {:class => "btn btn-secondary p-1 m-1"}%>
          <%= booking.date_debut.strftime('%a %d %b %Y') %>///
          <%= booking.date_fin.strftime('%a %d %b %Y') %>
      </li>
      <% end %>
    </ul>
</div>
</div>
</div>
