<div class="formulaire infos-caard rounded-4 p-5">
<h2 class="enonce my-3 py-3">Connexion</h2>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                label: "Mot de passe",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, label: "Se rappeler de moi", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions pb-5">
    <%= f.button :submit, "Connexion", class:"button-louer" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</div>
